{% extends "layout.html" %}

{% block title%}
News
{% endblock %}

{% block content %}
<h3 class="google-sans-flex-page-title">Top 10 business news analysis:</h3>
<br>

{% for title, details in today_news.items %}
    <div id="title-{{ forloop.counter }}" class="news-item">  
        <h2 id="item-{{ forloop.counter }}">
            <a href="#item-{{ forloop.counter }}" style="color: inherit; text-decoration: none;">
                {{ title }}
            </a>
        </h2>
        <h3>analysis: </h3>
        <p>{{details.2|safe}}</p>
        <a href="{{details.3}}">full news</a>
        <p>date: {{details.1}}</p>
        <br>
    </div>
{% endfor %}

{% endblock %}
